.container-fluid{
    margin: 0px;
}
.header img{
    width: 100%;
    height: 240px;
}
.head-logo{
     background-color: #2f4066;
     color: white;
     
}
.head-log>h3{
    margin: 0rem !important;
}
.app a img{
    margin-top: -25px;
    height: 122px;
}
.header .helpline-nu{
    background-color: tomato;
    color: white;
    text-align: center;
    padding: 2px;
    font-family: 'Libre Baskerville', serif;
}
.graph-heading h2{
     
    display: block;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}


hr.path-break{
    border: 1px solid teal;
    width: 30%;
}
.record{
    
    text-align: center;
    
}
.record h1{
    font-family: 'Baloo Da 2', cursive;
    
}
.record h3{
    font-family: 'Libre Baskerville', serif;
    font-size: large;
}
.record-time {
    margin-bottom:5px;
}
.record-time h6{
    font-family: 'Libre Baskerville', serif;
   
}

.record-time h6 span{
    color: orangered ;
}
.confirmed{
    color: #ff073a;
}
.active{
    color: #007bff;
}
.recovered{
    color:#28a745;
}
.deaths{
    color: #6c757d;
}

.poster-img img{
    width: 100%;
}
.poster-heading{
    font-family: 'Libre Baskerville', serif;
   text-align: center;
}
.link-heading{
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}
.link-span{
    font-family: 'Libre Baskerville', serif;
}
.county-name,.search-heading{
    font-family: 'Libre Baskerville', serif;
}
.link{
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}
li a{
    background-color: #0f7f8f;
    color: white;
}
ul {
    list-style-type: square;
}
iframe{
    height:350px;
}

.form input[type='text']{
    width: 80%;
    outline:none;
    margin-right: 5px;
    padding: 5px;
}
.form input[type="submit"]{
    padding: 7px;
    background-color: #007bff;
    color: white;
    border: none;
}
.form input[type="submit"]:hover{
    
    background-color: blue;
}
.crd{
    text-align: center;    
}
.state-heading{
    font-family: 'Libre Baskerville', serif;
}
table {
    font-family: 'Libre Baskerville', serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

#footer{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    bottom: 0;
    left: 0;
    right: 0;
}
#footer{
    font-family: 'Baloo Da 2', cursive;
    background-color: #2f4066 ;
    color:white;
}

/* font-family: 'Baloo Da 2', cursive;
font-family: 'Crete Round', serif;                bold */


@media only screen and (max-width: 570px) {
    .header img{
        width: 100%;
        height: 140px;
    }
    .app a img{
        margin-top: -25px;
        height: 40px;
    }
    .head-logo h3{
        font-size: 12px;
            
       }
    .helpline-nu{
        font-size: 14px;
    }
    .graph-header{
        font-size: 20px;
    }
    iframe{
        height: 350px;
    }
    .link-span{
        font-size: 13px;
    }
    li a{
        font-size: 13px;
    }
}
@media screen and (max-width: 420px){
    .header img{
        width: 100%;
        height: 60px;
    }
    .header .helpline-nu{
        font-size: 8px;
    }
   
    .app a img{
        margin-top: -15px;
        height: 40px;
    }
    .head-logo h3{
    font-size: 12px;
        
   }
    .helpline-nu{
        font-size: 11px;
    }
    .graph-heading{
        margin-top: 12px;
    }
    .graph-header{
        font-size: 16px;
        margin: 0px;
    }
    hr.path-break{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    iframe{
        height: 200px;
    }
    .link-span{
        font-size: 12px;
    }
    li a{
        font-size: 10px;
    }
    .form input[type='text']{
        width:70%;
    }
    .poster-heading,.search-heading{
        font-size: 20px;
    }
    .record-time h6{
        font-size: 12px;
    }
    .record h1{
        font-size: 24px;
    }
    .record h3{
        font-size: 16px;
    }
    table{
        overflow:scroll;
    }
    td, th {
        padding:4px;
        font-size:14px;
    }
    .head-scrol{
        height: 300px;
        overflow: scroll;
    }
    .table-data{
        overflow: scroll;
    }
    sup {
        top: -0.1em;
    }
}

/* #2f4066 dark blue
    #0f7f8f light blue

    https://youtu.be/BtN-goy9VOY
*/